body{
  height: 100%;
  width: 100%;
}

.ext-div {
  border: solid black 1px;
  height: 50%;
  width: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.counter-div{
  font-size: 1.5em;
  height: 50%;
  width: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 5px;
  background-color: red;
  border-radius: 5px;
  margin: 5px 10px;
}

.btn:hover{
  background-color: rgb(228, 152, 152);
}