body {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
}

.ext-div{
  background-color: rgb(7, 183, 142);
  border: 1px solid black;
  border-radius: 15px;
  height: 30%;
  width: 50%;
  padding: 5%;
  margin: 0% 20%;
}

.btn-div{
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
  margin-top: 10px;
}

.btn {
  margin: 2px;
  background-color: bisque;
  border-radius: 10px;
}

.btn:hover{
  background-color: rgb(231, 166, 87);
  border-color: red;
}

#btn-guess{
  margin: 20px 40%;
  background-color: rgb(8, 155, 150);
  padding: 5px;
  border-radius: 10px;
}

#btn-guess:hover{
  background-color: rgb(68, 217, 212);
}